{% include base_path %}

{% assign author = site.author %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}" draggable="false">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" draggable="false">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse" type="button" aria-controls="contact-links" aria-expanded="false">Connect</button>
    <ul class="author__urls social-icons" id="contact-links">
      {% if author.location %}
        <li><span><i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> {{ author.location }}</span></li>
      {% endif %}
      {% if author.employer %}
        <li><span><i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> {{ author.employer }}</span></li>
      {% endif %}
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}
      {% if author.instagram %}
        <li><a href="https://instagram.com/{{ author.instagram }}"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="https://orcid.org/{{ author.orcid }}"><i class="ai ai-fw ai-orcid" aria-hidden="true"></i> ORCID</a></li>
      {% endif %}
    </ul>
  </div>

  {% if site.visitor_map.enabled %}
  <div class="author__pageviews" style="display: none;">
    <script type="text/javascript" id="mapmyvisitors" src="https://mapmyvisitors.com/map.js?d=KZsWvs11TMU64shtn6KiJbuaxpc4ld8zTgo-SIy-JEM&amp;cl=ffffff&amp;w=a"></script>
  </div>
  {% endif %}
</div>
