<div class="logo-wrapper">
  <div class="logo-container" aria-label="Universities">
    <a href="https://tech.cornell.edu" target="_blank" rel="noopener noreferrer">
      <img src="{{ '/images/universities/Cornell.png' | relative_url }}" alt="Cornell Tech" width="852" height="239" loading="lazy">
    </a>
    <a href="https://www.cuhk.edu.hk/english/index.html" target="_blank" rel="noopener noreferrer">
      <img src="{{ '/images/universities/CUHK.png' | relative_url }}" alt="The Chinese University of Hong Kong" width="2308" height="406" loading="lazy">
    </a>
    <a href="https://www.epfl.ch/en/" target="_blank" rel="noopener noreferrer">
      <img src="{{ '/images/universities/EPFL.png' | relative_url }}" alt="École Polytechnique Fédérale de Lausanne" width="1280" height="372" loading="lazy">
    </a>
    <a href="https://english.pku.edu.cn" target="_blank" rel="noopener noreferrer">
      <img src="{{ '/images/universities/PKU.png' | relative_url }}" alt="Peking University" width="394" height="111" loading="lazy">
    </a>
  </div>
</div>
