@import "_variables";

.no-underline-black-link {
  color: $text-color !important;
  text-decoration: none !important;
}

.no-underline-black-link:hover {
  text-decoration: underline !important;
}

.in-site-indexing {
  color: #0072b1 !important;
}

.in-site-indexing:hover {
  text-decoration: underline !important;
  background: #f2f2f2 !important;
}