@import "_variables";

.no-underline-black-link {
    color: $text-color !important;
    text-decoration: none !important;
  }

.no-underline-black-link:hover {
    text-decoration: underline !important;
}
